@page
@model ARIA_Net.Pages.Scores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Application_Score[0].Competition_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application_Score[0].Project_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application_Score[0].NPI_Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application_Score[0].NPI_First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application_Score[0].Referee_Cd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application_Score[0].Reviewer_Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application_Score[0].Reviewer_First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application_Score[0].Criteria_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application_Score[0].Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application_Score[0].Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Application_Score) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competition_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NPI_Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NPI_First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referee_Cd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer_Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer_First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Criteria_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
